body {
  background-color: #f0c16b !important;
  padding: 10px;
}


.font-productsans {
  font-family: 'Product Sans',Arial,sans-serif !important;
}
.text--cat {
  color: #f4b552 !important;
}

#app {
  border-radius: 10px;
  padding: 20px;
}

.tools {
  background-color: inherit !important;
  cursor: pointer;
  /* margin: 10px; */
  border-radius: 50%;
  /* padding: 10%; */
}



/* テキストフィールドのフォーカスエフェクトの戻り時の色を変更 */
.v-text-field>.v-input__control>.v-input__slot:after {
  border-color: #f4b552 !important;
}